node_modules
mishkanAaron.sln
.vs/mishkanAaron/v14/.suo
App_Data/PublishProfiles/mishkanAaron.pubxml
.vs/config/applicationhost.config
.idea/misc.xml
.idea/mishkanAaron.iml
.idea/modules.xml
.idea/vcs.xml
